@use "sass:color";
@use "sass:math";

@use "../config/mixins";
@use "../config/variable";


.hero {
    height: 70rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(variable.$c-black, .7);
        height: 100%;
        width: 100%;
    }

    &-content {
        position: relative;
        z-index: 1;
    }
    &-img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}