---
permalink: /index.html
---


extends ../_includes/layout

block vars
    - var showHeader = true;
    - var showFooter = true;

block append head
    title Anasayfa | Startup Project

block content
    .index
        .container 
            .title.title--4xl Start Your Project